body{
	background-image: url('bubblebackground.jpg');
}

p:not(.afont){
	font-size: 10%;
	font-family: fantasy;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	
}


#fontboxhead{
	position: absolute;
	top:0.70%;
	right: 48%;
}

.titlecontainer{ /*width momentarily specified in pixels to preserve location of centered text*/
	width:600px;
	text-align: center;
}

.fontcontainer{
	font-size: 65%; /*tried to place in p.afont for greater consistency of code, but text ran out of the container*/
	position: absolute;
	background-color: white;
	top: 10.75%;
	right: 44%;
	width: 225px;
	height: 250px;
	box-shadow: 10px 10px 5px DarkBlue;
	border: solid 3px;
	background-color: FloralWhite;
	border-radius: 0.5em;
	padding: 1%;
	margin: 1%;
}

.arialhelvetica{
	font-family: Arial, Helvetica, sans-serif;
}

.timesnewroman{
	font-family: "Times New Roman", Times, serif;
}

.trebuchetmshelvetica{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.georgia{
	font-family: Georgia, serif;
}

.tahomageneva{
	font-family: Tahoma, Geneva, sans-serif;
}

.boxcontainer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	position: relative;
	border: solid 3px;
	background-color: FloralWhite;
	width: 35%;
	height: 250px;
	padding: 1%;
	border-radius: 0.5em;
	box-shadow: 10px 10px 5px DarkBlue;
}

.box{
	border: solid 3px;
	width: 10%;
	height: 13%;
	margin: .5%;
}

.sphere{
	/*visibility: hidden;*/
    position: absolute;
    /*justify-content: space-between;*/ /*I'm not quite sure what this line does, when omitted from code no noticeable effect*/
	border: solid 3px;
	padding: 1%;
	width: 60px;
	height:60px;
	margin: .5%;
	border-radius: 3em;
}

.spherecontainer{
	position: relative;
	border: solid 3px;
	background-color: AliceBlue;
	width: 600px;
	height: 250px;
	padding: 0;
	margin-top: .5%;
	border-radius: 0.5em;
	box-shadow: 10px 10px 5px DarkBlue;
}

#sphereone{
	left: 1%;
	background-color: purple;
}

#spheretwo{
	left: 15%;
	height:40px;
	width:40px;
	background-color: aqua;
}

#spherethree{
	left: 29%;
	background-color: fuchsia;
	
}

#spherefour{
	left: 35%;
	top: 56%;
	height: 30px;
	width: 30px;
	background-color: green;
}

#sphereeight{
	left: 5%;
	top: 35%;
	height:80px;
	width:80px;
	background-color: lime;
	
}

#spherenine{
	height:5px;
	width:5px;
	top: 26%;
	left: 20%;
	background-color: gray;
}

#sphereten{
	left: 29%;
	top: 35%;
	height: 15px;
	width: 15px;
	background-color: red;
}

#spherefive{
	left: 40%;
	top: 26%;
	width: 37px;
	height: 37px;
	background-color: teal;
}

#spheresix{
	left: 18%;
	top: 66%;
	background-color: yellow;
}

#sphereseven{
	left: 8%;
	top: 80%;
	height: 5px;
	width: 5px;
	background-color: aqua;
}




